:root{
    --red: #ff261a;
    --ivory: #fff5ef;
    --yellow:  #fff698;
    --green: #9ae89b;
    --blue: #a1d1e3;
    --teal: #a4ecdb;
}

html{
    font-size: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-size: 100%;
    margin: 0;
    padding: 0;    

    background: linear-gradient(-45deg, var(--yellow), var(--green), var(--blue), var(--teal));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;

    font-family: 'Golos Text', sans-serif;  
    font-family: 'Playfair Display', serif;
    box-sizing: border-box;
}

@keyframes gradient {
    0% {
		background-position: 100% 50%;
	}
	50% {
		background-position: 0% 50%;
	}
	100% {
		background-position: 100% 50%;
	}
}

h1{
    font-weight: 400;
    font-size: 700%;
    color: var(--red);
    line-height: 15%;
}

h2{
    font-weight: 400;
    font-size: 250%;
    color: var(--red);
}

h3{
    font-weight: 400;
    font-size: 100%;
    color: var(--red);
    font-family: 'Golos Text', sans-serif;  
    font-style: italic;
    line-height: 150%;
    margin-bottom: -2rem;
}

p{
    font-weight: 400;
    font-size: 100%;
    color: var(--red);
    font-family: 'Golos Text', sans-serif;  
    line-height: 150%;
}

a{
    text-decoration: none;
}

hr{
    border-top: 0.2px solid var(--red);
    border-bottom: 0.2px solid var(--red);
    margin-left:0;
    width: 50px;
}

img{
    border: 1.7px solid var(--red);
}

/**----------CLASSES----------**/
.main{
    width: 100%;
    margin: 0;
    padding: 0;
}

.brandmark{
    display: flex;
    text-align: left;
    position: fixed;
    z-index: 999;

    top: 0;

    padding-top: 2rem;
    padding-left: 5rem;

    animation-name: fontChange;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* The Overlay (background) */
.burger-menu{
    opacity: 0;
}


.project-page{
    display: flex;
    flex-direction: row;
}

.homepage{
    flex-basis: 50%;
    width: 100%;
    height: 100vh;
    align-items: center;

    overflow-y: hidden;
}

.picture-section{
    flex-basis: 50%;
    width: 100vw;
    height: 100vh;
    border: 1.7px solid var(--red);
    overflow-y: scroll;
}


.text-section{
    padding: 35%;
    padding-left: 5rem;
    padding-right: 5rem;
}
.title{
    font-style: italic;
}
.text{
    font-style: normal;
}

/**----------NAV SECTION----------**/

.nav-list{
    display: flex;
    flex-direction: row;
    column-gap: 2.5rem;
    justify-content: flex-start;

    opacity: 1;

    position: fixed;
    z-index: 999;

    bottom: 0;
    padding-left: 5rem;
    padding-bottom: 2rem;
}
.nav-list h2{
    line-height: 50%;
    font-size: 175%;
}

@keyframes fontChange {
  
    0% {
        font-family: 'Golos Text', sans-serif; 
    }

    50% {
        font-family: 'Playfair Display', serif;
        font-style: italic;
    }

    100% {
        font-family: 'Golos Text', sans-serif; 
    }
}

    .worknav{
        flex-basis: 33.333%;
        font-family: 'Golos Text', sans-serif;  
        transition: 0.5s;
    }
    .worknav:hover{
        font-family: 'Playfair Display', serif;
        font-style: italic;
        transition: 0.2s;
    }

    .aboutnav{
        flex-basis: 33.333%;
        font-family: 'Golos Text', sans-serif;  
        transition: 0.5s;
    }
    .aboutnav:hover{
        font-family: 'Playfair Display', serif;
        font-style: italic;
        transition: 0.2s;
    }

    .contactnav{
        flex-basis: 33.333%;
        font-family: 'Golos Text', sans-serif;  
        transition: 0.5s;
    }
    .contactnav:hover{
        font-family: 'Playfair Display', serif;
        font-style: italic;
        transition: 0.2s;
    }


.card-gifs{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0%;
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    right: 0;
    top: 0;
    background-color: var(--ivory); /* Black fallback color */
    background-color: var(--ivory); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: var(--red);
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: var(--red);
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }




/*--------------- MEDIA QUERIES ---------------*/
@media(max-width: 1023px){
    *
        h1{
            font-size: 700%;
        }
        
        h2{
            font-size: 300%;
        }

        .work-container{
            grid-template-columns: 1fr 1fr;
        }

        .text-section{
            padding-top: 45%;
            padding-left: 5rem;
            padding-right: 5rem;
        }
        .title{
            font-style: italic;
        }
        .text{
            font-style: normal;
        }
    }

@media(max-width: 800px){
    *
        h1{
            font-size: 400%;
        }
        
        h2{
            font-size: 230%;
        }

        .nav-list{
            flex-direction: column;
            opacity: 0;
        }

        .burger-menu{
            opacity: 1;
        }
        .overlay a {font-size: 20px}
        .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
        }

        .nav-list h2{
            font-size: 200%;
        }

        .work-container{
            grid-template-columns: 1fr;
        }

        .project-page{
            display: flex;
            flex-direction: column;
        }
        

        .homepage{
            flex-basis: 0%;
        }
        .picture-section{
            flex-basis: 100%;
        }

        .text-section{
            padding-top: 30%;
            padding-left: 5rem;
            padding-right: 5rem;
            padding-bottom: 20%;
        }
        .title{
            font-style: italic;
        }
        .text{
            font-style: normal;
        }
    }

@media(max-width: 600px){
    *
        h1{
            font-size: 350%;
            line-height: 10%;
        }
        
        h2{
            font-size: 150%;
            padding-top: 1rem;
            line-height: 120%;
        }

        .text-section{
            padding-top: 35%;
            padding-left: 5rem;
            padding-right: 5rem;
            padding-bottom: 20%;
        }

    }
